---
import { getCollection } from "astro:content";
import CollectionEntry from "../../components/CollectionEntry.astro";
import WebMentionDescription from "../../components/WebMentionDescription.astro";
import { collectionData } from "../../data/collections";
import Collection from "../../layouts/Collection.astro";
import Entry from "../../layouts/Entry.astro";
import { formatDateISO, formatDateTime } from "../../utils/formatting";
import type { EntryOrPageProps } from "../../utils/pagination";
import { generateGetStaticPathsForCollection } from "../../utils/pagination";

export const collection = "notes";
export const getStaticPaths = generateGetStaticPathsForCollection(await getCollection(collection), {
	requireTitle: false,
});

type Props = EntryOrPageProps<typeof collection>;
const props = Astro.props;
---

{
	props.type === "page" ? (
		// TODO: customizar pra notas
		<Collection {...props} collection={collection}>
			{props.page.data.map(entry => {
				return (
					<CollectionEntry class="entry">
						<section>
							{entry.render().then(({ Content }) => (
								<Content />
							))}
						</section>
						<header>
							<span>
								<a
									class="u-url"
									href={`/${entry.collection}/${entry.slug}`}
									set:text={collectionData.notes.collection}
								/>
								{entry.data.date ? (
									<>
										publicada em
										<time
											itemprop="datePublished dateModified pubdate"
											class="dt-published"
											datetime={formatDateISO(entry.data.date)}
										>
											{formatDateTime(entry.data.date)}
										</time>
									</>
								) : null}
							</span>
							<WebMentionDescription links={entry.data.links ?? undefined} />
						</header>
					</CollectionEntry>
				);
			})}
		</Collection>
	) : (
		<Entry entry={props.entry} />
	)
}

<style>
	.entry + .entry {
		margin-top: var(--s2);
		padding-top: var(--s2);
		border-top: 2px dotted var(--themeColor);
	}

	.entry section :first-child {
		margin-top: 0;
	}

	header > :global(* + ::before) {
		content: " – ";
	}
</style>
