---
import CollectionEntry from "../../components/CollectionEntry.astro";
import Collection, { type CollectionPageProp } from "../../layouts/Collection.astro";
import { formatDateISO, formatDateTime } from "../../utils/formatting";
import { generateGetStaticPathsForCollection } from "../../utils/pagination";
import { collectionName } from "./likes.json";

export const getStaticPaths = generateGetStaticPathsForCollection(
	import.meta.glob("./**/*.md", { eager: true }),
	{ requireTitle: false },
);

interface Props {
	page: CollectionPageProp;
}

const { page } = Astro.props;
---

<!-- TODO: customizar pra likes -->
<Collection {...Astro.props} collectionName={collectionName}>
	{
		page.data.map(entry => (
			<CollectionEntry class="entry">
				<section>
					{/* Por algum motivo isso não funciona. Por quê? <a href="{{entry.data.likeOf}}" class="u-like-of">{% titleFromUrl entry.data.likeOf %}</a> */}
					<a href={entry.frontmatter.likeOf} class="u-like-of">
						{entry.frontmatter.likeOf}
					</a>{" "}
					foi curtido
				</section>
				<header>
					—{" "}
					<a class="u-url" href="{{ entry.url }}">
						{entry.frontmatter.date ? (
							<time
								itemprop="datePublished dateModified pubdate"
								class="dt-published"
								datetime={formatDateISO(entry.frontmatter.date)}
							>
								{formatDateTime(entry.frontmatter.date)}
							</time>
						) : null}
					</a>
				</header>
			</CollectionEntry>
		))
	}
</Collection>

<style>
	.entry + .entry {
		margin-top: var(--s2);
		padding-top: var(--s2);
		border-top: 2px dotted var(--themeColor);
	}

	.entry section :first-child) {
		margin-top: 0;
	}

	header > :global(* + ::before) {
		content: " – ";
	}
</style>
