---
layout: default.njk
sitemapChangefreq: daily
mainClass: shows
title: "Filmes e Séries"
---

link(rel="stylesheet", href="/css/shows.css")

h1 Filmes e Séries

mixin section(data, title)
    section
        h2= title
        ul(class=data[0].plays ? 'watched' : 'watchlist')
            - for (const el of data.filter(el => el.images.poster))
                li
                    img(src=el.images.poster, loading="lazy", width=200, height=285)
                    p #[a(href=el.url)= `${el.data.title} (${el.data.year})`]
                    if el.plays
                        p Assistido #{el.plays} #{el.plays === 1 ? "vez" : "vezes"} e pela última vez em #[time(datetime=el.last_watched_at)= formatters.formatDate(new Date(el.last_watched_at))]

+section(trakt.watched.shows, "Séries assistidas")
+section(trakt.watched.movies, "Filmes assistidos")
+section(trakt.watchlist.shows, "Séries na lista de espera 👀")
+section(trakt.watchlist.movies, "Filmes na lista de espera 👀")
