---
layout: default.liquid
sitemapChangefreq: weekly
sitemapPriority: 1
mainClass: home
---

section.half-column.half-row
	h2 Quem sou eu
	p Desenvolvedor e #[i(lang='en') tech-lead] de Salvador, Brasil, com experiência em desenvolvimento web e back-end e programação funcional. Fala Javascript, Typescript, Python e Scala fluentes.
	p Ser humano apreensivo com a crise climática e o vigilantismo, interessado pela interseção de computação e humanidades e pelas possibilidades da web enquanto mídia.

section.half-column
	h2 O que me inspira

	p Um mundo em que o conhecimento é compartilhado e inovações acontecem passo a passo, ao invés de serem reinventadas ano após ano (#[i(lang=en) #[abbr(title="also known as" aria-label="also known as") AKA] #[a(href="https://ose-21.org/") open source everything]]), seja para escrever código, seja para #[a(href="https://www.wikihouse.cc/About") construir] #[a(href="https://www.opentecture.com/concept") casas], #[a(href="https://openstructures.net/") móveis] ou até #[a(href="http://wikispeed.org/") carros].

	ul.inline-list
		li Antirracismo
		li feminismo
		li anti-homofobia
		li antitransfobia
		li decolonialismo
		li reparação histórica
		li #[a(href="https://pt.wikipedia.org/wiki/Decrescimento_(economia)") decrescimento econômico]
		li sustentabilidade
		li #[a(href="https://solar.lowtechmagazine.com/") críticas a nossa tecnocracia e tecno-utopia]

	ul.inline-list
		li CSS
		li HTML semântico
		li Javascript
		li decentralização (Dat, IPFS, SSB, etc)
		li IndieWeb
		li uma web diversa e aberta
		li as possibilidades da web enquanto mídia
		li programação funcional
		li sistemas de tipo

section.half-column.half-row
	h2 Como esse site foi feito
	p Esse site foi feito usando o gerador de sites estáticos <a href="https://www.11ty.io/">Eleventy</a>; escrito em Nunjucks, Markdown e Pug; e hospedado na #[a(href="neltify.com") Netlify]. Ele se integra com a #[a(href="https://indieweb.org/") IndieWeb] usando serviços como #[a(href="https://webmention.io/") webmention.io] (recebe, armazena e me dá acesso às WebMentions que me mencionam), #[a(href="https://webmention.app/") webmention.app] (envia WebMentions em meu nome) e #[a(href="https://brid.gy/") Bridgy] (reproduz meus posts em outras redes sociais - POSSE - e manda WebMentions quando interagem com eles - likes, RTs...), além do #[a(href="https://paulrobertlloyd.github.io/indiekit/") IndieKit] (me permite postar no meu site por uma interface). A fonte em todo o site é a fonte variável #[a(href="https://rsms.me/inter/") Inter], de #[a(href="https://rsms.me/about/") Rasmus Andersson] #[a(href="https://github.com/vhfmag/site/"). Veja o código]!

section.half-column
	h2 Últimos posts
	ol.post-list
		- for (const entry of collections.posts.slice(0, 5))
			li
				h3: a(href=entry.url)= entry.data.title
		li
			a(href="/posts") Ver mais

section.half-column
	h2 Últimas Recomendações
	ol.post-list
		- for (const entry of collections.bookmarks.slice(0, 5))
			li
				h3: a(href=entry.url)= entry.data.title
		li
			a(href="/bookmarks") Ver mais

section.half-column
	h2 Blogroll
	ul.post-list.columns
		- for (const link of blogroll.filter(b => !b.hide))
			li(title=link.description && link.description.replace(/<[^>]+>/g, ""))
				h3: a(href=link.url)= link.name

section.half-column.row-3
	h2 No fone
	ul.inline-list
		- for (artist of listeningTo)
			li= artist

section.half-column.row-3
	h2 Na estante
	ul.inline-list
		- for (book of reading)
			li(data-separator="; ")= book

section.half-column.row-3
	h2 No #[i(lang="en") streaming]
	ul.inline-list
		- for (thing of watching)
			li= thing

link(rel="stylesheet", href="/css/home.css")
