---
layout: default.njk
sitemapChangefreq: daily
mainClass: music
---

link(rel="stylesheet", href="/css/music.css")

h1 Música

p O que eu tenho ouvido, segundo dados do #[a(href="https://www.last.fm/user/vhfmag") meu last.fm].

section
    h2 Top 10 da semana

    section
        h3 Álbuns
        ol.ranking.with-image
            - for (const album of lastfm.weeklyTopAlbums)
                li
                    img(src=album.image[2]["#text"], width=174, height=174)
                    a.primary(href=album.url)= album.name
                    a.secondary(href=album.artist.url)= album.artist.name

    div.ranking-lists
        section
            h3 Artistas
            ol.ranking
                - for (const artist of lastfm.weeklyTopArtists)
                    li
                        a(href=artist.url)= artist.name

        section
            h3 Músicas
            ol.ranking
                - for (const track of lastfm.weeklyTopTracks)
                    li
                        a(href=track.url)= track.name

        section.columns
            h3 Tags
            ol.ranking
                - for (const tag of lastfm.weeklyTopTags)
                    li
                        a(href=tag.url)= tag.name
